body {
    box-sizing: border-box;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 2fr 1fr;
    grid-gap: 10px;
}

nav {    
    display: flex;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.5);
    height: 60px;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 15px;
}

header {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: gainsboro;
    border-bottom-style: solid;
    border-width: thin;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 30px;
}

.info {
    display: flex;
    height: 8vh;
    grid-column-start: 1;
    grid-column-end: 4;
}

.left-col {
    height: 70vh;
    /*background-color: springgreen;*/
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: repeat(45, 50px);
    padding-left: 30px;
    align-self: center;
}

.center-col {
    height: 70vh;
    /*background-color: steelblue;*/
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    display: grid;
    grid-template-rows: repeat(6, 50px);
   
}

.right-col {
    height: 70vh;
    /*background-color: violet;*/
    grid-column-start: 3;
    grid-column-end: 4;
    padding-right: 20px;
    align-self: center;
    display: grid;
    grid-template-rows: repeat(5, 50px);
}

h1 {
    color: rgb(206, 16, 16);
    font-weight: 500;
    font-size: 20px;
}

h2 {
    padding: 5px;
    margin: 5px;
    align-self: center;
    font-size: 14px;
}
label, input, p {
    align-self: center;
    padding: 5px;
    font-size: 12px;
    margin: 5px;

}

input[type="text"] {
    width: 100%;
}

input[type="submit"] {
    float: right;
}