body {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li {
    font-size: 18px;
    list-style-type: none;
    padding: 0px 20px;
}

li a {
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}