body {
    box-sizing: border-box;
    margin: 0;
}

nav {    
    display: flex;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.5);
    height: 60px;
    padding-left: 15px;
}

header {
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: solid thin gainsboro;
    margin-bottom: 40px;
    padding-left: 30px;
}

form {
    display: grid;
    align-items: center;
    grid-template-columns: 200px minmax(300px, 600px) 1fr;
    grid-template-rows: repeat(5, 36px) 50px;
    grid-gap: 5px;
    height: calc(100vh - 60px - 70px - 60px - 40px); /* Subtracts all boxes other than form */
    padding-left: 20px;
}

h1 {
    color: rgb(206, 16, 16);
    font-weight: 500;
    font-size: 20px;
}

h2 {
    font-weight: 600;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
}

label, input[type="text"], p {
    padding: 5px;
    font-size: 12px;
    margin: 5px;
}

input[type="text"] {
    border-radius: 0%;
    border: solid thin ;
    border-color: lightslategrey;
}

input[type="submit"] {
    width: 150px;
    justify-self: flex-end;
} 

footer {
    height: 60px;
    background-color: gainsboro;
    border-top: lightslategrey thin solid;
}

.foot-sec {
    background-color: gainsboro;
    border-bottom: lightslategrey thin solid;
    height: 30px;
}

@media (max-width: 1050px) {

    form {
        grid-template-columns: 200px minmax(300px, 600px);
    }

    form :nth-child(3n) {
        display: none;
        background-color: red;
    }   
}

@media (max-width: 500px) {
 
    form {
        display: grid;
        grid-template-columns: 60vw;
        grid-auto-rows: 50px;
        height: 100vh;
    }

    form :nth-child(3n) {
        display: none;
    }   
}
