body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px 20px 150px 0;
}

li {
    font-size: 18px;
    list-style-type: none;
    padding: 0px 10px;
}

li a {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}


main {
    text-align: center;
    height: calc(100vh - 60px - 150px - 20px - 27px);
}

input {
}

input[type="text"] {
    height: 40px;
    border-radius: 20px;
    border-width: thin;
    border-color: lightgrey;
    outline: none;
    padding: 0px 20px;
    margin-top: 20px;
    width: 500px;
}

input[type="submit"] {
    cursor: pointer;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    border-style: hidden;
    margin: 20px 5px;
}

input[type="submit"]:hover {
    border-style: solid;
    border-width: 1px;
}

footer {
    height: 60px;
    background-color: gainsboro;
    border-top: lightslategrey thin solid;
}

footer :nth-child(1) {
    background-color: gainsboro;
    border-bottom: lightslategrey thin solid;
    height: 30px;
}

@media (max-width: 600px) {
    input[type="text"] {
        width: 80vw;
    }

}
